<div class="result" *ngIf="movies$ | async as movies">
    <div class="error" *ngIf="error">
      {{errorMessage}}
    </div>

    <mat-list *ngIf="!error">
      <mat-list-item *ngFor="let movie of movies">
        <img matListAvatar [src]="movie.Poster" [alt]="movie.title">
        <h3 matLine> {{movie.Title}} </h3>
        <p matLine>
          <span class="major"> {{movie.Year}} </span>
          <span class="minor"> {{movie.Type}} </span>
          <span class="mute"> {{movie.imdbID}} </span>
        </p>
        <div class="floating-right">
          <button mat-stroked-button color="primary" (click)="add(movie)" >Add</button>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="movies.length">
        <span>Prev</span><span class="fill-space"></span><span>Next</span>
      </mat-list-item>
    </mat-list>


  </div>
