<div class="result" *ngIf="movies">
    <div class="error" *ngIf="error">
      {{errorMessage}}
    </div>

    <mat-list *ngIf="!error" cdkDropList (cdkDropListDropped)="drop($event)">
      <mat-list-item *ngFor="let movie of movies" cdkDrag>

        <img matListAvatar *ngIf="movie.Poster !== 'N/A'" [src]="movie.Poster" [alt]="movie.title">
        <img matListAvatar *ngIf="movie.Poster === 'N/A'" [src]="defaultImage" [alt]="movie.title">
        <h3 matLine> {{movie.Title}} </h3>
        <p matLine>
          <span class="major"> {{movie.Year}} </span>
          <span class="minor"> {{movie.Type}} </span>
          <span class="mute"> {{movie.imdbID}} </span>
        </p>
        <div class="floating-right">
          <button mat-stroked-button *ngIf="options.indexOf('ADD') !== -1" color="primary" (click)="add(movie)" >Add</button>
          <button mat-stroked-button *ngIf="options.indexOf('REMOVE') !== -1" color="primary" (click)="remove(movie)" >Remove</button>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="movies.length && showPreviousNext">
        <span>
            <button mat-stroked-button (click)="loadPrev()">Prev</button>
        </span>
        <span class="fill-space"></span>
        <span>
            <button mat-stroked-button (click)="loadNext()">Next</button>
        </span>
      </mat-list-item>
    </mat-list>


  </div>
