@import '../../variables.scss';
:host{
  display: flex;
  justify-content: center;
}
.watch-list-view {
  max-width: 600px;
  width: 100%;
  padding: $padding-lg $padding-lg/2 $padding-lg $padding-lg/2 ;
}
.fill {
  width: 100%;
}
