@import '../../variables.scss';
:host{
  display: flex;
  justify-content: center;
}
.search-view {
  max-width: 600px;
  width: 100%;
  padding: $padding-lg $padding-lg/2 $padding-lg $padding-lg/2 ;
}
.fill {
  width: 100%;
}

.result {
  background-color: $dark-mask-xs;
  border-radius: $box-border-radius;
}

.floating-right{
  position: absolute;
  right: $padding-lg/2;
  height: 100%;
  align-items: center;
  display: flex;
}

mat-list-item + mat-list-item{
  border-top: 1px solid $dark-mask-s;
}
