<div class="search-view">
  <form [formGroup]="searchForm" (ngSubmit)="submit()">
    <mat-form-field class="fill">
      <mat-label>Search movie by title</mat-label>
      <input matInput placeholder="Title" formControlName="search">
      <button mat-icon-button matSuffix [attr.aria-label]="'Search movie'" [attr.aria-pressed]="searched">
      <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <app-movies-view
    [error]="error"
    [errorMessage]="errorMessage"
    [movies$]="movies$"
  ></app-movies-view>
</div>


